html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  color: #777777;
  box-sizing: border-box;
  line-height: 1;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

a {
  color: black;
}

h1 {
  font-size: 35px;
  text-align: center;
  width: 100%;
  color: #04C2C9;
  font-weight: bold;
}

button {
  outline: none;
  cursor: pointer;
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url('../images/background_main.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

}

.text-wrapper {
  width: 100%;
  height: 100%;
  font-weight: 700;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.my_name {
  width: 500px;
  height: 600px;
  position: absolute;
  top: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}

.letters {
  font-size: 50px;
  position: absolute;
  top: 200px;
  width: auto;
  text-align: center;
  font-weight: 800;
  opacity: 0;
  transition: opacity 1s;
}

.letters1 {
  font-size: 35px;
  position: absolute;
  top: 260px;
  text-align: center;
  font-weight: 600;
  width: auto;
  opacity: 0;
  transition: opacity 1s;
}

.scrolled {
  position: fixed;
  top: 10px;
  left: 32vh;
  width: 250px;
  height: 60px;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
}

.scrolled_mobile {
  position: fixed;
  top: 10px;
  left: 4vh;
  width: 250px;
  height: 60px;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
}

.letters_scrolled {
  font-size: 25px;
  left: 0px;
  top: 0px;
  opacity: 1;
}

.letters1_scrolled {
  font-size: 20px;
  left: 0px;
  top: 30px;
  opacity: 1;
  font-weight: lighter;
}

.text-wrapper button {
  background: hsla(0, 0%, 100%, .9);
  border: none;
  width: 600px;
  height: 120px;
  cursor: pointer;
  transition: transform 0.8s;
  color: #74C7D5;
  font-size: 40px;
  font-weight: 800;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 440px;
  opacity: 0;
  transition: opacity 1s;
  outline: none;
}

.text-wrapper button div {
  transition: 0.8s;
}

.text-wrapper button:hover div {
  transform: rotate(90deg);
  transition: 0.8s;
}

nav {
  background: transparent;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: left;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  z-index: 50;
  transition: 0.4s;
}

.nav_btns {
  width: 400px;
  height: 100%;
  text-align: center;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 25vh;
  opacity: 0;
  transition: opacity 3s;
}

.nav_btns button {
  border: none;
  border-bottom: 3px solid transparent;
  background: none;
  color: white;
  width: auto;
  height: 60%;
  font-size: 22px;
}

.nav_btns button:hover {
  color: #74C7D5;
}

.nav_btns .selected_btn {
  border-bottom: 3px solid #74C7D5;
}

 #nav-icon {
  width: 50px;
  height: 40px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
margin-left: auto;
margin-right: 2vh;
  z-index: 500;
}

 #nav-icon span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: #74C7D5;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
  top: 16px;
}

#nav-icon span:nth-child(4) {
  top: 32px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}



.hidden_box {
  height: 100%;
  width: 100%;
  z-index: 10;
  display: none;
  position: fixed;
  top: 75px;
  left: 0px;
  background: white;
  padding-top: 30px;
}

.hidden_box .nav_btns {
  width: 100%;
}

.hidden_box .nav_btns button {
  color: #74C7D5;
  height: 15%;
  width: 90%;
  text-align: center;
  border: 1px solid transparent;
  margin: auto;
  font-size: 28px;
}

.hidden_box button .selected_nav_btn {
  border: 1px solid #74C7D5;
}

.about_wrapper {
  height: 600px;
  width: 100%;
  margin: auto;
  background: white;
  padding-top: 100px;
  margin-bottom: 80px;
}

.about_wrapper .about_header {
  text-align: center;
  margin: auto;
  width: 550px;
}

.animation_border, .animation_border_skills {
  width: 80px;
  height: 5px;
  background: #04C2C9;
  margin: auto;
  margin-top: 10px;
}

.animation_border_skills {
  width: 110px;
}

.about_badge_con {
  height: 300px;
  width: 800px;
  margin: auto;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.badge_wrapper {
  width: 220px;
  height: 300px;
  text-align: center;
}

.badge_wrapper h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.badge_wrapper p {
  line-height: 1.4;
}

.badge_wrapper div {
  width: 120px;
  height: 120px;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #04c2c9;
  margin: auto;
  margin-bottom: 20px;
}

#about_text {
  width: 500px;
  text-align: center;
  margin: auto;
  line-height: 1.3;
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
}

.badge_wrapper div img {
  width: 50%;
  height: auto;
}

.skills_wrapper {
  height: 550px;
  background: #EFF7FE;
  padding-top: 100px;
  clip-path: polygon(0 0, 100% 10%, 100% 87%, 0 100%);
}

.skills {
  width: 600px;
  margin: auto;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.skills div {
  width: 25%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.skills div img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.skills div:nth-child(2) img {
  width: 95%;
  height: 95%;
}

.skills div:nth-child(3) img {
  width: 100%;
  height: 100%;
}

.skills div:nth-child(4) img {
  width: 85%;
  height: 85%;
  margin-top: 10px;
}

.skills div:nth-child(5) img {
  width: 55%;
  height: auto;
}

.skills div:nth-child(7) img {
  width: 70%;
  height: 70%;
}

.skills div:nth-child(8) img {
  width: 40%;
  height: 60%;
  text-align: center;
}

.skills div:hover img {
  animation: flicker 1.5s;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.9;
  }
}

.skills h1 {
  padding: 0px;
}

main {
  padding-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 220em;
  margin-bottom: 60px;
}

main h1 {
  margin-bottom: 100px;
}

.project_container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 80px;
  width: 40%;
  height: 520px;
}

.project_images {
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: relative;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 10px;
  position: relative;
}

.project_images a {
  width: 400px;
  height: 300px;
  text-align: center;
}

.project_images a img:first-child {
  width: 400px;
  height: 300px;
  order: 1;
}

.project_images a img:last-child {
  width: 100px;
  height: 180px;
  order: 2;
  position: absolute;
  right: 67px;
  bottom: 0px;
}

.project_text {
  line-height: 1.5;
  font-size: 21px;
  width: 70%;
  height: 200px;
  text-align: center;
  padding-top: 30px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 30px;
}

.project_text .project_name {
  font-size: 27px;
  font-weight: bold;
  padding-bottom: 20px;
}

.text-wrapper button:nth-child(2) .selected {
  background: white;
}

footer {
  height: 600px;
  padding-top: 50px;
  padding-bottom: 60px;
  background: #EFF7FE;
  color: #888888;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer h1 {
  color: #888888;
}

footer h2 {
  font-size: 25px;
}

footer .animation_border_contact {
  background: white;
}

footer span {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}

#social_links {
  width: 250px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  flex-direction: row;
  margin: auto;
}

#social_links a {
  width: auto;
  transition: 0.5s;
}

#social_links a {
  width: 60px;
  height: 60px;
  border-radius: 90px;
  border-radius: 1px solid #74C7D5;
  background: #74C7D5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#social_links a img {
  width: 60%;
  height: auto;
  margin: auto;
}

#social_links a:nth-child(2) img {
  width: 55%;
}

#social_links a:hover {
  margin-bottom: 30px;
  transition: 0.5s;
}

footer h3 {
  font-size: 24px;
  font-weight: bold;
}

footer h3:nth-child(even) {
  font-weight: 400;
}

footer span h3:first-child {
  margin-bottom: 15px;
}

.contact_header {
  margin-bottom: 30px;
}

.animation_border_contact {
  width: 200px;
  height: 3px;
  margin: auto;
  margin-top: 10px;
}

.go_up {
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 90px;
  background: #74C7D5;
  border: none;
}

.go_up img {
  width: 60%;
  height: auto;
}
